{{!-- Container for a post --}}
<article class="post">
  <div class="card">
    <h5 class="card-header bg-primary text-light"><a href="/post/{{id}}" class="text-light">Blog Post</a></h5>
    <div class="card-body bg-dark">
      <h5 class="card-title text-light">{{title}}</h5>
      <div class="meta text-light">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}" class="text-primary">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
      <br>
      <p class="card-text text-light">{{post_url}}</p>